<a href="https://colab.research.google.com/github/silviutroscot/Machine-Learning-Playground/blob/master/SingleVariableLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Single variable linear regression

## Python implementation of the first assignment from Andrew NG's [Machine Learning](https://www.coursera.org/learn/machine-learning) course.

### Our aim is to predict the potential profit for a company's new branch in a town/city, based on its population.

The learning process presented here is based on two parameters:
- **learning rate**, which determines how fast the model will learn, but a too large learning rate may make the error function diverge
- **convergence threshold** is a number which is the maximum difference between two consecutive updates of a weight to say that it converged.

In [1]:
# Load the Drive helper and mount
# This should be runned only once, at the initialization of the notebook
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
np.seterr(over='raise')

# read dataset from Drive
with open("drive/My Drive/Datasets/population-profit.txt", 'r') as dataset:
  data = pd.read_csv(dataset, header=None)
  data.columns = (['population', 'profit'])

# append a column of 1s for the free term, as our model will be w0*1 + w1*x  
data.insert(0, 'feature_zero', 1)

In [0]:
# return true if all parameters converged and false otherwise
def allCoefficientsConverged(previousCoefficientValues, 
                             currentCoefficientValues, convergenceThreshold):
  coefficientDifferences = previousCoefficientValues - currentCoefficientValues
  maxDifference = np.amax(abs(coefficientDifferences))
  return maxDifference < convergenceThreshold

In [0]:
# compute cost function
def getCostFunctionValueForWeights(data, weights):
    numberOfInputs = len(data.index)
    featuresMatrix = data.drop(['profit'], axis=1)
    profitMatrix = data.drop(['population', 'feature_zero'], axis=1)
    # to avoid overflowing, set the type as object
    cost = np.zeros(1, dtype=object)
    for index in range (1, numberOfInputs):
      currentError = np.matmul(featuresMatrix.values[index,:], weights.T)
      currentError -= profitMatrix.iloc[index]
      cost += np.power(currentError, 2)
    return cost

In [0]:
# convergence threshold is a parameter which is the maximum differennce between
# previous and current value of a parameter to converge; i.e. if 
# prev_value - current_vlaue < convergenceThreshold, it converged
def batchGradientDescent(data, convergenceThreshold, learningRate):
  featuresMatrix = data.drop(['profit'], axis=1)
  profitMatrix = data.drop(['population', 'feature_zero'], axis=1)
  noOfFeatures = len(featuresMatrix.columns)
  numberOfInputs = len(data.index)
  weights = np.zeros(noOfFeatures)
  tempWeights = np.ones(noOfFeatures)
  
  while not allCoefficientsConverged(weights, tempWeights, convergenceThreshold):
    for weightIndex in range (0, len(weights)):
      tempWeights[weightIndex] = weights[weightIndex]
      gradientSum = 0
      for index in range (1, numberOfInputs):
        currentError = np.matmul(featuresMatrix.values[index,:], weights.T)
        currentError -= profitMatrix.iloc[index]
        currentError *= featuresMatrix.iloc[index].iloc[weightIndex]
        currentError *= learningRate
        gradientSum += currentError
      
      gradientSum = gradientSum/numberOfInputs
      tempWeights[weightIndex] -= gradientSum
    for weightIndex in range (0, len(weights)):
      weights[weightIndex] = tempWeights[weightIndex]
    print(getCostFunctionValueForWeights(data, weights))
  
  return weights

In [0]:
print(batchGradientDescent(data, 10** -1, 0.01))

profit    1148
Name: 1, dtype: object
profit    989.583
Name: 1, dtype: object
profit    983.248
Name: 1, dtype: object
profit    981.938
Name: 1, dtype: object
profit    980.798
Name: 1, dtype: object
profit    979.667
Name: 1, dtype: object
profit    978.54
Name: 1, dtype: object
profit    977.418
Name: 1, dtype: object
profit    976.299
Name: 1, dtype: object
profit    975.185
Name: 1, dtype: object
profit    974.074
Name: 1, dtype: object
profit    972.968
Name: 1, dtype: object
profit    971.865
Name: 1, dtype: object
profit    970.767
Name: 1, dtype: object
profit    969.672
Name: 1, dtype: object
profit    968.581
Name: 1, dtype: object
profit    967.494
Name: 1, dtype: object
profit    966.411
Name: 1, dtype: object
profit    965.332
Name: 1, dtype: object
profit    964.257
Name: 1, dtype: object
profit    963.185
Name: 1, dtype: object
profit    962.118
Name: 1, dtype: object
profit    961.054
Name: 1, dtype: object
profit    959.994
Name: 1, dtype: object
profit    958.937
Name: 1, dtype: object
profit    957.885
Name: 1, dtype: object
profit    956.836
Name: 1, dtype: object
profit    955.791
Name: 1, dtype: object
profit    954.75
Name: 1, dtype: object
profit    953.712
Name: 1, dtype: object
profit    952.679
Name: 1, dtype: object
profit    951.648
Name: 1, dtype: object
profit    950.622
Name: 1, dtype: object
profit    949.599
Name: 1, dtype: object
profit    948.58
Name: 1, dtype: object
profit    947.565
Name: 1, dtype: object
profit    946.553
Name: 1, dtype: object
profit    945.544
Name: 1, dtype: object
profit    944.54
Name: 1, dtype: object
profit    943.539
Name: 1, dtype: object
profit    942.541
Name: 1, dtype: object
profit    941.547
Name: 1, dtype: object
profit    940.557
Name: 1, dtype: object
profit    939.57
Name: 1, dtype: object
profit    938.587
Name: 1, dtype: object
profit    937.607
Name: 1, dtype: object
profit    936.631
Name: 1, dtype: object
profit    935.658
Name: 1, dtype: object
profit    934.688
Name: 1, dtype: object
profit    933.723
Name: 1, dtype: object
profit    932.76
Name: 1, dtype: object
profit    931.801
Name: 1, dtype: object
profit    930.846
Name: 1, dtype: object
profit    929.893
Name: 1, dtype: object
profit    928.945
Name: 1, dtype: object
profit    927.999
Name: 1, dtype: object
profit    927.057
Name: 1, dtype: object
profit    926.119
Name: 1, dtype: object
profit    925.183
Name: 1, dtype: object
profit    924.251
Name: 1, dtype: object
profit    923.323
Name: 1, dtype: object
profit    922.398
Name: 1, dtype: object
profit    921.476
Name: 1, dtype: object
profit    920.557
Name: 1, dtype: object
profit    919.641
Name: 1, dtype: object
profit    918.729
Name: 1, dtype: object
profit    917.82
Name: 1, dtype: object
profit    916.915
Name: 1, dtype: object
profit    916.012
Name: 1, dtype: object
profit    915.113
Name: 1, dtype: object
profit    914.217
Name: 1, dtype: object
profit    913.324
Name: 1, dtype: object
profit    912.435
Name: 1, dtype: object
profit    911.548
Name: 1, dtype: object
profit    910.665
Name: 1, dtype: object
profit    909.785
Name: 1, dtype: object
profit    908.908
Name: 1, dtype: object
profit    908.034
Name: 1, dtype: object
profit    907.164
Name: 1, dtype: object
profit    906.296
Name: 1, dtype: object
profit    905.432
Name: 1, dtype: object
profit    904.57
Name: 1, dtype: object
profit    903.712
Name: 1, dtype: object
profit    902.857
Name: 1, dtype: object
profit    902.004
Name: 1, dtype: object
profit    901.155
Name: 1, dtype: object
profit    900.309
Name: 1, dtype: object
profit    899.466
Name: 1, dtype: object
profit    898.626
Name: 1, dtype: object
profit    897.789
Name: 1, dtype: object
profit    896.955
Name: 1, dtype: object
profit    896.124
Name: 1, dtype: object
profit    895.296
Name: 1, dtype: object
profit    894.47
Name: 1, dtype: object
profit    893.648
Name: 1, dtype: object
profit    892.829
Name: 1, dtype: object
profit    892.012
Name: 1, dtype: object
profit    891.199
Name: 1, dtype: object
profit    890.388
Name: 1, dtype: object
profit    889.581
Name: 1, dtype: object
profit    888.776
Name: 1, dtype: object
profit    887.974
Name: 1, dtype: object
profit    887.175
Name: 1, dtype: object
profit    886.379
Name: 1, dtype: object
profit    885.585
Name: 1, dtype: object
profit    884.795
Name: 1, dtype: object
profit    884.007
Name: 1, dtype: object
profit    883.222
Name: 1, dtype: object
profit    882.44
Name: 1, dtype: object
profit    881.661
Name: 1, dtype: object
profit    880.884
Name: 1, dtype: object
profit    880.111
Name: 1, dtype: object
profit    879.34
Name: 1, dtype: object
profit    878.572
Name: 1, dtype: object
profit    877.806
Name: 1, dtype: object
profit    877.043
Name: 1, dtype: object
profit    876.283
Name: 1, dtype: object
profit    875.526
Name: 1, dtype: object
profit    874.771
Name: 1, dtype: object
profit    874.02
Name: 1, dtype: object
profit    873.27
Name: 1, dtype: object
profit    872.524
Name: 1, dtype: object
profit    871.78
Name: 1, dtype: object
profit    871.039
Name: 1, dtype: object
profit    870.3
Name: 1, dtype: object
profit    869.564
Name: 1, dtype: object
profit    868.831
Name: 1, dtype: object
profit    868.1
Name: 1, dtype: object
profit    867.372
Name: 1, dtype: object
profit    866.647
Name: 1, dtype: object
profit    865.924
Name: 1, dtype: object
profit    865.204
Name: 1, dtype: object
profit    864.486
Name: 1, dtype: object
profit    863.771
Name: 1, dtype: object
profit    863.058
Name: 1, dtype: object
profit    862.348
Name: 1, dtype: object
profit    861.641
Name: 1, dtype: object
profit    860.936
Name: 1, dtype: object
profit    860.233
Name: 1, dtype: object
profit    859.533
Name: 1, dtype: object
profit    858.836
Name: 1, dtype: object
profit    858.141
Name: 1, dtype: object
profit    857.448
Name: 1, dtype: object
profit    856.758
Name: 1, dtype: object
profit    856.071
Name: 1, dtype: object
profit    855.385
Name: 1, dtype: object
profit    854.703
Name: 1, dtype: object
profit    854.023
Name: 1, dtype: object
profit    853.345
Name: 1, dtype: object
profit    852.669
Name: 1, dtype: object
profit    851.996
Name: 1, dtype: object
profit    851.326
Name: 1, dtype: object
profit    850.658
Name: 1, dtype: object
profit    849.992
Name: 1, dtype: object
profit    849.329
Name: 1, dtype: object
profit    848.667
Name: 1, dtype: object
profit    848.009
Name: 1, dtype: object
profit    847.353
Name: 1, dtype: object
profit    846.699
Name: 1, dtype: object
profit    846.047
Name: 1, dtype: object
profit    845.398
Name: 1, dtype: object
profit    844.751
Name: 1, dtype: object
profit    844.106
Name: 1, dtype: object
profit    843.464
Name: 1, dtype: object
profit    842.823
Name: 1, dtype: object
profit    842.186
Name: 1, dtype: object
profit    841.55
Name: 1, dtype: object
profit    840.917
Name: 1, dtype: object
profit    840.286
Name: 1, dtype: object
profit    839.657
Name: 1, dtype: object
profit    839.031
Name: 1, dtype: object
profit    838.406
Name: 1, dtype: object
profit    837.784
Name: 1, dtype: object
profit    837.165
Name: 1, dtype: object
profit    836.547
Name: 1, dtype: object
profit    835.932
Name: 1, dtype: object
profit    835.318
Name: 1, dtype: object
profit    834.707
Name: 1, dtype: object
profit    834.099
Name: 1, dtype: object
profit    833.492
Name: 1, dtype: object
profit    832.888
Name: 1, dtype: object
profit    832.285
Name: 1, dtype: object
profit    831.685
Name: 1, dtype: object